<ion-header>
  <ion-toolbar>
    <ion-title>nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>
    <h4>
      Esta aplicación se creó con el fin de ayudar a nuestros estudiantes a llegar de una forma más rápida y segura a sus hogares,
      aquí podrás arrendar un auto para que te lleve a un lugar en específico de tu comuna junto.
      Este tendrá un precio según la distancia de dicho lugar, hasta el momento el servicio solo esta disponible para la sede de Duoc Plaza Norte. 
    </h4>
  </ion-card>
</ion-content>