<ion-header>
  <link rel="stylesheet" href="alterarconductor.page.scss">
  <ion-toolbar>
    <ion-title>Alterar Conductor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <br>
  <br>
  <br> 
  <h1 class="ion-text-center">Alterar Conductor</h1>
  <br>
  <ion-card id="card">
    <ion-item>
    <ion-label position="stacked">llave 1:</ion-label>
      <ion-input  type="text" [(ngModel)]="admin.llave" length=10 id="llave"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">llave 2:</ion-label>
        <ion-input  type="text" [(ngModel)]="admin.contrasena" minlength=3 maxlenght=20 id="contrasena" clearInput></ion-input>
      </ion-item>
  </ion-card>
  <ion-button expand="block" (click)="alterconductor()"color="dark">Alterar Conductor</ion-button>
</ion-content>
