<ion-header>
  <link rel="stylesheet" href="eliminar.page.scss">
  <ion-toolbar>
    <ion-title>eliminar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="cuerpo" class="fondo">
  <br><br><br>
  <h1 class="ion-text-center">Inicio de Sesión</h1>
  <br>

  <h3 class="ion-text-center">¿Seguro de que quieres eliminar tu cuenta?</h3>
  <h4 class="ion-text-center">Ingresa tu Contraseña para Confirmar</h4>
  <ion-card id="card">
    <div class="row">
    <ion-item>
    <ion-label position="stacked"> Contraseña: </ion-label>
    <ion-input type="password" [(ngModel)]="user.contrasena" minlength=3 maxlenght=20 id="Pass" clearInput></ion-input>
  </ion-item>
  </div>
</ion-card>
<ion-button class="btn1" expand="block" color="medium" (click)="eliminar()">Eliminar Usuario</ion-button>
</ion-content>
